<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand px-5" href="#">
      <img src="/../assets/img/logo.svg" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler text-center p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <fa-icon [icon]="faBars"></fa-icon>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav options-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active dropdown-toggle" aria-current="page" href="#">
            <fa-icon [icon]="faUser"></fa-icon>
            Contracts
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#">
            <fa-icon [icon]="faFileAlt"></fa-icon>
            Documents
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <fa-icon [icon]="faWallet"></fa-icon>
            Payout
          </a>
          <ul class="dropdown-menu main-box-shadow" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
            Time
          </a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="profile-btn nav-link dropdown-toggle px-lg-4" id="navbarProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="d-lg-none me-2">Kevin Brito</span>
            <img src="/../assets/img/profile.svg" class="rounded profile-img" alt="profile">
          </a>
          <ul class="dropdown-menu main-box-shadow" aria-labelledby="navbarProfile">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
