nav.navbar {
  background-color: #FFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  padding: 0;
}

.navbar-toggler {
  border: none;
  color: #FF5A70;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background: none;
}

.options-nav .nav-link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #898989;
  padding: 2em;
}

.navbar-nav .nav-link.active {
  border-bottom: 6px solid #FF5A70;
  color: #FF5A70;
}

.navbar-toggler-icon {
  padding: 0.2rem;
}

fa-icon {
  margin-right: 5px;
}

.logo {
  width: 145px;
}

.profile-img {
  width: 65px;
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .options-nav .nav-link {
    font-size: 12px;
    padding: 0.7rem;
  }

  .navbar-nav .nav-link.active {
    border-bottom: 2px solid #FF5A70;
  }

  .logo {
    width: 90px;
  }

  .profile-img {
    width: 30px;
  }
}
