<div class="row my-4">
  <div class="col-9">
    <input type="text" class="form-control" placeholder="Search" />
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-light mx-3">
      Filter
    </button>
    <button type="button" class="btn btn-danger">
      New hire
    </button>
  </div>
</div>
<div class="row my-4">
  <div class="col-3">
    <input type="date" class="form-control" />
  </div>
  <div class="col-3">
    <select class="form-control">
      <option value="">Contract Type</option>
      <option value="">Normal</option>
      <option value="">Especial</option>
    </select>
  </div>
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Contract Name" />
  </div>
  <div class="col-3">
    <select class="form-control">
      <option value="">Status</option>
      <option value="">Active</option>
      <option value="">Signature Pending</option>
    </select>
  </div>
</div>
