<div class="list-content main-box-shadow">
  <div class="row header-list d-none d-lg-flex">
    <div class="col">Contractor name</div>
    <div class="col">Type</div>
    <div class="col">Start date</div>
    <div class="col">Amount</div>
    <div class="col">Status</div>
    <div class="col">Actions</div>
  </div>
  <div class="row row-list my-3">
    <div class="col-lg py-lg-0 py-3">
      <div class="row d-2">
        <div class="col d-lg-none">
          <strong>Contractor name</strong>
        </div>
        <div class="col">
          <img src="/../assets/img/profile.svg" class="rounded mx-1 d-none d-lg-inline-block" alt="profile" width="41">
          <span>Dariene Robertson</span>
        </div>
      </div>
    </div>
    <div class="col-lg py-lg-0 py-3">
      <div class="row d-2">
        <div class="col d-lg-none">
          <strong>Type</strong>
        </div>
        <div class="col">
          <span>Traditional</span>
        </div>
      </div>
    </div>
    <div class="col-lg py-lg-0 py-3">
      <div class="row d-2">
        <div class="col d-lg-none">
          <strong>Start date</strong>
        </div>
        <div class="col">
          <span>Mar 4, 2021</span>
        </div>
      </div>
    </div>
    <div class="col-lg py-lg-0 py-3">
      <div class="row d-2">
        <div class="col d-lg-none">
          <strong>Amount</strong>
        </div>
        <div class="col">
          <span>$200 USD</span>
        </div>
      </div>
    </div>
    <div class="col-lg py-lg-0 py-3">
      <div class="row d-2">
        <div class="col d-lg-none">
          <strong>Status</strong>
        </div>
        <div class="col">
          <span class="success-tag">
            <fa-icon [icon]="faCircle"></fa-icon>
            Active
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg py-lg-0 py-3">
      <div class="row d-2">
        <div class="col d-lg-none">
          <strong>Actions</strong>
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <fa-icon [icon]="faEllipsisV" class="d-none d-lg-inline-block"></fa-icon>
              <fa-icon [icon]="faEllipsisH" class="d-lg-none"></fa-icon>
            </button>
            <ul class="dropdown-menu main-box-shadow" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="faEdit"></fa-icon>
                  Edit
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="faSignature"></fa-icon>
                  Sign
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="faFileAlt"></fa-icon>
                  View summary
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="faTrashAlt" class="delete"></fa-icon>
                  Delete
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
